# Dataset overview

In [1]:
import os
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from utils import get_target_pivot, merge_rare, enumerate_float
from feature_engineering import generate_event_features

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.3f}'.format)

## 1. Dataset import

In [3]:
DATA_DIR = 'data'

In [4]:
USERS_FILE_NAME = 'user_profile.csv'
EVENTS_FILE_NAME = 'events.csv'

In [5]:
users_file_path = os.path.join(DATA_DIR, USERS_FILE_NAME)
events_file_path = os.path.join(DATA_DIR, EVENTS_FILE_NAME)

In [6]:
df = pd.read_csv(users_file_path).set_index('user_id').sort_index()

In [7]:
events_df = pd.read_csv(events_file_path)

In [8]:
df['reg_ts'] = pd.to_datetime(df['reg_ts'], unit='s')

In [9]:
events_df['event_ts'] = pd.to_datetime(events_df['event_ts'], unit='s')

In [10]:
df.rename(columns={'target': 'ltv_30'}, inplace=True)

In [11]:
df.shape

(4862, 4)

In [12]:
events_df.shape

(423862, 4)

In [13]:
df.head()

                     reg_ts country entry_point   ltv_30
user_id
1       2025-01-01 02:06:17      US     android 1468.187
2       2025-01-01 08:06:23      PL     android  619.849
3       2025-01-01 13:07:50      US     android   97.804
4       2025-01-01 15:21:41      HU     android   71.662
5       2025-01-02 07:27:59      PL     android    0.000

In [14]:
events_df.head()

             event_ts  user_id event_name  event_value
0 2025-01-01 04:41:50      843    payment       23.710
1 2025-01-01 05:23:58     2605    payment       24.451
2 2025-01-01 06:31:28     3715    payment       24.451
3 2025-01-01 06:41:23     3715    payment       24.451
4 2025-01-01 06:52:47     3715    payment       24.451

In [15]:
TARGET = 'ltv_30'

## 2. Users data overview

In [16]:
df[TARGET].sum()

np.float64(706138.8474897386)

In [17]:
df[TARGET].mean()

np.float64(145.2362911332247)

In [18]:
(df[TARGET] == 0).mean()

np.float64(0.637186343068696)

### 2.1. `entry_point`

In [19]:
get_target_pivot(df, col='entry_point', target_col=TARGET)

In [20]:
df['entry_point=android'] = (df['entry_point'] == 'android').astype(int)

In [21]:
get_target_pivot(df, col='entry_point=android', target_col=TARGET)

### 2.2. `country`

In [22]:
df['country'].value_counts().head(10)

country
US    737
BR    262
FR    259
DE    252
IN    221
TR    218
PL    214
IT    179
GB    162
ES    150
Name: count, dtype: int64

In [23]:
df['country'] = merge_rare(df['country'])

In [24]:
get_target_pivot(df, col='country', target_col=TARGET)

In [25]:
country_rank = df[['country', 'ltv_30']].groupby(by='country').mean()['ltv_30'].sort_values(ascending=False).index.tolist()
# country_rank

In [26]:
country_ranks_dict = dict(zip(country_rank, range(1, len(country_rank) + 1)))
country_ranks_dict

{'CH': 1,
 'GB': 2,
 'US': 3,
 'DE': 4,
 'RO': 5,
 'CA': 6,
 'AU': 7,
 'PL': 8,
 'IT': 9,
 'ES': 10,
 'FR': 11,
 'ZA': 12,
 'OTHER': 13,
 'TR': 14,
 'BR': 15,
 'CL': 16,
 'AR': 17,
 'KZ': 18,
 'IN': 19,
 'PK': 20,
 'MX': 21}

In [27]:
df['country_e'] = df['country'].map(country_ranks_dict)

In [28]:
# get_target_pivot(df, col='country_e', target_col=TARGET)

## 3. Events data overview

In [29]:
events_df['event_name'].value_counts()

event_name
battle             179286
wealth_on_login     83677
login               83677
finish_quest        47922
level_up            24286
payment              5014
Name: count, dtype: int64

In [30]:
df = df.join(generate_event_features(df, events_df), how='left')

### 3.1. `battle`

In [31]:
df['battles_won_d0_q'] = enumerate_float(df['battles_won_d0'], q=5, process_zeros=True)
df['battles_won_d7_q'] = enumerate_float(df['battles_won_d7'], q=9, process_zeros=True)

In [32]:
get_target_pivot(df, col='battles_won_d0_q', target_col=TARGET)

In [33]:
get_target_pivot(df, col='battles_won_d7_q', target_col=TARGET)

### 3.2. `login`

In [34]:
df['session_time_d7_q'] = enumerate_float(df['session_time_d7'], q=10, process_zeros=True)

In [35]:
get_target_pivot(df, col='session_time_d7_q', target_col=TARGET)

In [36]:
get_target_pivot(df, col='inactive_d1', target_col=TARGET)

In [37]:
get_target_pivot(df, col='n_active_days', target_col=TARGET)

### 3.3. `wealth_on_login`

In [38]:
# get_target_pivot(df, col='wealth_on_login_max_d0', target_col=TARGET)

In [39]:
# get_target_pivot(df, col='wealth_on_login_max_d7', target_col=TARGET)

In [40]:
get_target_pivot(df, col='wealth_on_login_max_d0=802', target_col=TARGET)

In [41]:
get_target_pivot(df, col='wealth_on_login_max_d7=802', target_col=TARGET)

### 3.4. `finish_quest`

In [42]:
df['finish_quest_sum_d7_q'] = enumerate_float(df['finish_quest_sum_d7'], q=10, process_zeros=True)

In [43]:
get_target_pivot(df, col='finish_quest_sum_d7_q', target_col=TARGET)

### 3.5. `level_up`

In [44]:
get_target_pivot(df, col='level_up_max_d0', target_col=TARGET)

In [45]:
get_target_pivot(df, col='level_up_max_d7', target_col=TARGET)

### 3.6. `payment`

In [46]:
df['payment_sum_d0_q'] = enumerate_float(df['payment_sum_d0'], q=10, process_zeros=True)
df['payment_sum_d7_q'] = enumerate_float(df['payment_sum_d7'], q=10, process_zeros=True)

In [47]:
get_target_pivot(df, col='payment_sum_d0_q', target_col=TARGET)

In [48]:
get_target_pivot(df, col='payment_sum_d7_q', target_col=TARGET)

## 4. Dataset segmentation

In [49]:
train_df, dev_df = train_test_split(df, test_size=0.2, random_state=0)

In [50]:
print(train_df.shape)
print(dev_df.shape)

(3889, 44)
(973, 44)

In [51]:
df.loc[train_df.index, 'segment'] = 'TRAIN'
df.loc[dev_df.index, 'segment'] = 'DEV'

In [52]:
df['segment'].value_counts(dropna=False)

segment
TRAIN    3889
DEV       973
Name: count, dtype: int64

## 4. Dataset export

In [53]:
df.columns.tolist()

['reg_ts',
 'country',
 'entry_point',
 'ltv_30',
 'entry_point=android',
 'country_e',
 'battles_won_d0',
 'battles_won_d1',
 'battles_won_d3',
 'battles_won_d7',
 'battles_lost_d0',
 'battles_lost_d1',
 'battles_lost_d3',
 'battles_lost_d7',
 'session_time_d0',
 'session_time_d1',
 'session_time_d3',
 'session_time_d7',
 'inactive_d1',
 'n_active_days',
 'wealth_on_login_max_d0',
 'wealth_on_login_max_d1',
 'wealth_on_login_max_d3',
 'wealth_on_login_max_d7',
 'wealth_on_login_max_d0=802',
 'wealth_on_login_max_d7=802',
 'finish_quest_sum_d0',
 'finish_quest_sum_d1',
 'finish_quest_sum_d3',
 'finish_quest_sum_d7',
 'level_up_max_d0',
 'level_up_max_d1',
 'level_up_max_d3',
 'level_up_max_d7',
 'payment_sum_d0',
 'payment_sum_d1',
 'payment_sum_d3',
 'payment_sum_d7',
 'battles_won_d0_q',
 'battles_won_d7_q',
 'session_time_d7_q',
 'finish_quest_sum_d7_q',
 'payment_sum_d0_q',
 'payment_sum_d7_q',
 'segment']

In [54]:
FEATURES = [
    'entry_point=android',
    'country_e',
    'battles_won_d0',
    'battles_won_d1',
    'battles_won_d3',
    'battles_won_d7',
    'battles_lost_d0',
    'battles_lost_d1',
    'battles_lost_d3',
    'battles_lost_d7',
    'session_time_d0',
    'session_time_d1',
    'session_time_d3',
    'session_time_d7',
    'inactive_d1',
    'n_active_days',
    'wealth_on_login_max_d0',
    'wealth_on_login_max_d1',
    'wealth_on_login_max_d3',
    'wealth_on_login_max_d7',
    'finish_quest_sum_d0',
    'finish_quest_sum_d1',
    'finish_quest_sum_d3',
    'finish_quest_sum_d7',
    'level_up_max_d0',
    'level_up_max_d1',
    'level_up_max_d3',
    'level_up_max_d7',
    'payment_sum_d0',
    'payment_sum_d1',
    'payment_sum_d3',
    'payment_sum_d7',
    'wealth_on_login_max_d0=802',
    'wealth_on_login_max_d7=802',
]

In [55]:
EXPORT_COLS = FEATURES + ['segment', TARGET]

In [56]:
EXPORT_FILE_NAME = 'train_dev.csv'

In [57]:
export_file_path = os.path.join(DATA_DIR, EXPORT_FILE_NAME)

In [58]:
df[EXPORT_COLS].to_csv(export_file_path)